{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h2>{{ title }}</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <div class="form-actions">
        {% if form.instance.pk %}
            <button type="submit" class="btn btn-primary">💾 Enregistrer</button>
            <a href="{% url 'catalogue:locality-show' form.instance.id %}" class="btn btn-danger">❌ Annuler</a>
        {% else %}
            <button type="submit" class="btn btn-success">➕ Créer</button>
            <a href="{% url 'catalogue:locality-index' %}" class="btn btn-danger">❌ Annuler</a>
        {% endif %}
    </div>
</form>
{% endblock %}
