{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<h2>{{ title }}</h2>

<form method="post">
    {% csrf_token %}

    <table class="table">
        <thead>
            <tr>
                <th>Tarif</th>
                <th>Quantité</th>
            </tr>
        </thead>
        <tbody>
        {% for field in form %}
            <tr>
                <td>{{ field.label }}</td>
                <td>
                    {{ field }}
                    {% if field.errors %}
                        <div class="text-danger">{{ field.errors }}</div>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="form-actions">
        <button type="submit" class="btn btn-success">💾 Réserver</button>
        <a href="{% url 'catalogue:representation-show' representation.id %}" class="btn btn-danger">❌ Annuler</a>
    </div>
</form>
{% endblock %}
