{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h2>{{ title }}</h2>
    <a href="{% url 'catalogue:type-create' %}" class="btn btn-success">➕ Ajouter un type</a>
    <ul>
        {% for type in types %}
            <li><a href="{% url 'catalogue:type-show' type.id %}">{{ type.name }}</a></li>
        {% empty %}
            <li>Aucun type enregistré</li>
        {% endfor %}
    </ul>
    <a href="{% url 'home' %}" class="btn btn-secondary">🏠 Retour à l'accueil</a>
{% endblock %}
